body {
    min-height: 200vH;
    font-family: 'Montserrat';
    background-color: #2C2C2C;
    opacity: 0; 
    animation: fadeIn 1s ease-out forwards; 
    color: white;
    display: flex;
    flex-direction: column;
}
@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    color: #FFD700;
    align-items: center;
    justify-content: space-between;
    background-color: #2C2C2C;
    padding: 18px;
    border-bottom: 2px solid #FFD700;
}

.gauche {
    display: flex;
    align-items: center;
    gap: 8px;
}

h1 {
    font-size: medium;
}

.logo {
    width: 40px;
    height: 40px;
}

.centre {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px; 
    border: 2px solid #FFD700;
    padding: 14px;
    border-radius: 14px;
}

.centre>.trait {
    position: relative;
    color: #FFD700;
    text-decoration: none;
}

.centre>.trait::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #FFD700;
    transition: width 0.4s ease;
}

.centre>.trait:hover::after {
    width: 100%;
}

.neon {
    color: #FFD700;
    text-decoration: underline;
    text-decoration-color: #FFD700;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #FFD700;
    color: #fff;
}

main {
    flex: 1;
}

.electrisez {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.texte {
    max-width: 500px;
    color: white;
}

.texte>h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.jaune {
    color: #FFD700;
    font-weight: bold;
}

.description {
    font-size: 1em;
    color: #ccc;
}

.boutons-intro {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bouton {
    background-color: #FFD700;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.bouton:hover {
    background-color: white;
    color: #FFD700;
}

.secondaire {
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.secondaire:hover {
    background-color: #444;
}

.electrisez>img {
    width: 600px;
    height: auto;
}

.pourquoi {
    text-align: center;
    margin-bottom: 60px;
}

.pourquoi-cube {
    display: grid;
    grid-template-columns: auto auto auto auto;
}








